body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar {
    position: sticky;
    top: 0%;
    z-index: 90;
}

.card-header-tabs {
    width: 500px;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8.8%;
    padding-right: 8%;
}

.card-header {
    border-bottom: 0px;
}

.nav-item {
    color: black;
}

a {
    color: rgb(114, 114, 114);
    cursor: pointer;
}

a:hover {
    background-color: whitesmoke;
    border-bottom: 0px;
    color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: whitesmoke;
    border-bottom-color: whitesmoke;
}

a:not([href]):not([tabindex]) {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.print-card{
    margin:10px;
    border: 1px black solid;
    margin-right:10px;
}

.card-body{
    position: relative;
    margin: auto;
}

.Info{
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background: rgb(60,60,60);
    background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(108,108,108,1) 10%, rgba(138,138,138,1) 100%);
}

#aboutMeBase {
    top: 100%;
    position: absolute;
    height: 300%;
    width: 100%;
    background: whitesmoke;
}

#titleRow{
    padding: 10px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 1px;
    border-style: solid;
}

#pfp{
    position: relative;
    margin-top: 30px;
    border: 2px;
    width: 90px;
    height: 90px;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    left:50%;
    transform: translateX(-50%);
}

#Title{
    margin-top: 15px;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    left: 18.5%;
    top: 50%;
    /* transform: translateY(-50%); */
}

i{
    color: rgb(189, 189, 189);
}

i:hover{
    font-size:50px;
    position: relative;
    top: -2px;
    left: -1px;
    color: rgb(0, 68, 255);
}